@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">ERROR</h1>
<h2 class="text-danger">Access Dennied!</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3> Your role is not access the feature!</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
